{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Finance</title>
    <link rel="icon" href="{% static 'admin/img/logo.png' %}" type="image/png">

    <link rel="stylesheet" href="{% static 'admin/css/bootstrap1.min.css' %}" />

    <link rel="stylesheet" href="{% static 'admin/vendors/themefy_icon/themify-icons.css' %}" />

    <link rel="stylesheet" href="{% static 'admin/vendors/swiper_slider/css/swiper.min.css' %}" />

    <link rel="stylesheet" href="{% static 'admin/vendors/select2/css/select2.min.css' %}" />

    <link rel="stylesheet" href="{% static 'admin/vendors/niceselect/css/nice-select.css' %}" />

    <link rel="stylesheet" href="{% static 'admin/vendors/owl_carousel/css/owl.carousel.css' %}" />

    <link rel="stylesheet" href="{% static 'admin/vendors/gijgo/gijgo.min.css' %}" />

    <link rel="stylesheet" href="{% static 'admin/vendors/font_awesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/tagsinput/tagsinput.css' %}" />

    <link rel="stylesheet" href="{% static 'admin/vendors/datatable/css/jquery.dataTables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/datatable/css/responsive.dataTables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/datatable/css/buttons.dataTables.min.css' %}" />

    <link rel="stylesheet" href="{% static 'admin/vendors/text_editor/summernote-bs4.css' %}" />

    <link rel="stylesheet" href="{% static 'admin/vendors/morris/morris.css' %}">

    <link rel="stylesheet" href="{% static 'admin/vendors/material_icon/material-icons.css' %}" />

    <link rel="stylesheet" href="{% static 'admin/css/metisMenu.css' %}">

    <link rel="stylesheet" href="{% static 'admin/css/style1.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/css/colors/default.css' %}" id="colorSkinCSS">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="crm_body_bg">
    <nav class="sidebar">
        <div class="logo d-flex justify-content-between">
            <h3><span class="text-primary">Administrator</span></h3>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        <ul id="sidebar_menu">
            <li class="mm-active">
                <a class="has-arrow" href="{% url 'index' %}" aria-expanded="false">

                    <img src="{% static 'admin/img/menu-icon/1.svg' %}" alt="">
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="mm">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'admin/img/menu-icon/6.svg' %}" alt="">
                    <span>Users</span>
                </a>
                <ul>
                    <li><a class="active" href="{% url 'user_list' %}">User list</a></li>
                    <li><a href="{% url 'user_create' %}">Create new</a></li>
                </ul>
            </li>
            <li class="mm">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="{% static 'admin/img/menu-icon/3.svg' %}" alt="">
                    <span>ToDo</span>
                </a>
                <ul>
                    <li><a class="active" href="{% url 'todo_list' %}">Todo list</a></li>
                    <li><a href="{% url 'todo_create' %}">Create new</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    {% block content %}{% endblock content %}
    <div class="footer_part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="footer_iner text-center">
                        <p>2020 © Influence - Designed by<a href="#"> Javohir Abdullayev</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'admin/js/jquery1-3.4.1.min.js' %}"></script>
    <script src="{% static 'admin/js/popper1.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap1.min.js' %}"></script>
    <script src="{% static 'admin/js/metisMenu.js' %}"></script>
    <script src="{% static 'admin/vendors/count_up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'admin/vendors/chartlist/Chart.min.js' %}"></script>
    <script src="{% static 'admin/vendors/count_up/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'admin/vendors/swiper_slider/js/swiper.min.js' %}"></script>
    <script src="{% static 'admin/vendors/niceselect/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'admin/vendors/owl_carousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'admin/vendors/gijgo/gijgo.min.js' %}"></script>
    <script src="{% static 'admin/vendors/datatable/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/vendors/datatable/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'admin/vendors/datatable/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'admin/vendors/datatable/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'admin/vendors/datatable/js/jszip.min.js' %}"></script>
    <script src="{% static 'admin/vendors/datatable/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'admin/vendors/datatable/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'admin/vendors/datatable/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'admin/vendors/datatable/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'admin/js/chart.min.js' %}"></script>
    <script src="{% static 'admin/vendors/progressbar/jquery.barfiller.js' %}"></script>
    <script src="{% static 'admin/vendors/tagsinput/tagsinput.js' %}"></script>
    <script src="{% static 'admin/vendors/text_editor/summernote-bs4.js' %}"></script>
    <script src="{% static 'admin/vendors/apex_chart/apexcharts.js' %}"></script>
    <script src="{% static 'admin/js/custom.js' %}"></script>
    <script src="{% static 'admin/js/active_chart.js' %}"></script>
    <script src="{% static 'admin/vendors/apex_chart/radial_active.js' %}"></script>
    <script src="{% static 'admin/vendors/apex_chart/stackbar.js' %}"></script>
    <script src="{% static 'admin/vendors/apex_chart/area_chart.js' %}"></script>
    <script src="{% static 'admin/vendors/apex_chart/bar_active_1.js' %}"></script>
    <script src="{% static 'admin/vendors/chartjs/chartjs_active.js' %}"></script>

</body>

</html>