{% extends 'admin_templates/base.html' %}
{% load static %}
{% block content %}
<section class="main_content dashboard_part">
<div class="main_content_iner ">
    <div class="container-fluid plr_30 body_white_bg pt_30">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_box mb_30">
                    <div class="box_header ">
                        <div class="main-title">
                            <h3 class="mb-0"> Create Todo</h3>
                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %} 
                        <div class="mb-3">
                            <p>Are you sure you want to delete "{{ todo.title }}"?</p>
                            <input class="btn btn-danger" type="submit" value="Confirm" />
                            <div class="d-inline">
                              <a class="btn btn-primary" href="{% url 'todo_list' %}">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}